// Debounce function to limit the frequency of function calls
function debounce(func, wait) {
  let timeout;
  return function (...args) {
    const later = () => {
      clearTimeout(timeout);
      func.apply(this, args);
    };
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
  };
}

// Function to save CLI text and template to localStorage
function saveToLocalStorage(cliText, templateText) {
  localStorage.setItem('cliText', cliText);
  localStorage.setItem('templateText', templateText);
  console.log('CLI text and template saved to localStorage.');
}

// Function to load CLI text and template from localStorage
function loadFromLocalStorage() {
  const cliText = localStorage.getItem('cliText');
  const templateText = localStorage.getItem('templateText');
  if (cliText) {
    text_editor.getDoc().setValue(cliText);
  }
  if (templateText) {
    template_editor.getDoc().setValue(templateText);
  }
  console.log('Loaded CLI text and template from localStorage.');
}

// Variables for the selected mode and split size
let selected_mode = "textfsm";
let split_size = 2;

// Initialize the default values for the editors
document.getElementById("text_input").value = "Enter your CLI text here";
document.getElementById("template").value = `And your ${selected_mode} template here`;
document.getElementById("result").value = `View your result here`;

// Initialize CodeMirror editors for text input, template, and result
var txt_area = document.getElementById("text_input");
var text_editor = CodeMirror.fromTextArea(txt_area, {
  lineNumbers: true,
  theme: "shadowfox",
  matchBrackets: true,
  mode: "text",
  indentWithTabs: true,
  tabMode: "indent",
  indentUnit: 0,
  delay: { show: 500, hide: 100 },
});

var template_area = document.getElementById("template");
var template_editor = CodeMirror.fromTextArea(template_area, {
  lineNumbers: true,
  theme: "shadowfox",
  mode: "text",
  indentWithTabs: true,
  tabMode: "indent",
  indentUnit: 0,
  delay: { show: 500, hide: 100 },
});

var result_area = document.getElementById("result");
var result_editor = CodeMirror.fromTextArea(result_area, {
  lineNumbers: true,
  theme: "shadowfox",
  mode: "javascript",
  indentWithTabs: true,
  tabMode: "indent",
  indentUnit: 0,
  delay: { show: 300, hide: 100 },
  readOnly: true,
});

// Function to send a debounced request to the server
const sendRequest = debounce(() => {
  const template_text = template_editor.doc.getValue();
  const cli_text = text_editor.getDoc().getValue();

  // Save CLI text and template to localStorage
  saveToLocalStorage(cli_text, template_text);

  // Make an AJAX request to process the input
  $.ajax({
    type: "POST",
    url: `/api/${selected_mode}/`,
    data: {
      inputtext: cli_text,
      fsmtxt: template_text,
      fsmmode: document.getElementById("fsmmode").checked
    },
    headers: { "X-CSRFToken": "{{csrf_token}}" },
    success: function (result) {
      var jsonPretty = JSON.stringify(result, null, "\t");
      result_editor.getDoc().setValue(jsonPretty);
    },
  });
}, 200);

// Attach the debounced sendRequest function to the editors' change events
text_editor.on("change", sendRequest);
template_editor.on("change", sendRequest);

// Handle the change of the fsmmode checkbox
document.getElementById("fsmmode").onchange = function() {
  console.log("fsmmode change");
  sendRequest();
};

// Function to manage the splitting of UI panels
function doSplit(split_array) {
  if (split_size !== split_array.length) {
    $(".gutter-horizontal").remove();
    Split(split_array, {
      gutterSize: 4,
    });
    split_size = split_array.length;
  }
}

// Function to set the parsing mode and update the UI
function setParseMode(mode) {
  selected_mode = mode;
  template_editor.getDoc().setValue(`And your ${selected_mode} template here`);
  template_editor.setOption("readOnly", false);

  if (selected_mode == "textfsm") {
    $("#split-1").show();
    $("#template_textarea").show();
    text_editor.getDoc().setValue(`Enter your CLI here`);
    result_editor.getDoc().setValue(`View your rendered data here`);
    text_editor.setOption("mode", "text");
    template_editor.setOption("mode", "text");
    doSplit(["#split-0", "#split-1", "#split-2"]);
  }
}

// Load data from localStorage when the page is loaded
document.addEventListener('DOMContentLoaded', function() {
  loadFromLocalStorage();
});
